<p class="text-primary text-center">Flights - New Year Eve - 2019</p>
<p class=" text-info py-5 text-center"><strong>Welocome to Flight planner! You can book here flights available with us at affordable price.</strong> </p>
<p class="text-primary text-center"><%= link_to "New Booking", users_path, :class => 'btn btn-info' %></p>