<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<div class="login-form">
			<%= form_tag(users_path, method: "get") do %>
			<div class="group">
				<label for="user" class="label">Email</label>
				<%= text_field_tag "user[email]","",{class: "input"} %>
			</div>
			<div class="group">
				<label for="user" class="label">Password</label>
				<%= password_field_tag "user[password]","",{class: "input"} %>
			</div>
			<div class="group">
				<%= submit_tag "Sign In", {class: "button"} %>
			</div>
			<div class="hr"></div>
			<%end%>
		</div>

	</div>
</div>